* {
    padding: 0;
    margin: 0;
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.container{
    background: linear-gradient(135deg, #0A3228 0%, #0A143C 100%);
    min-height: 100vh;
}
.nav-container{
    height: 100px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.ul-nav{
    justify-content: center;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.li-nav{
    margin: 20px;
}
.li-nav:hover{
    transform: translateY(-2px);
}
.a-nav{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    padding: 0;
}
.a-nav:hover{
    color: aqua;
}
.content{
    display: flex;
    justify-content: space-between;
}
.profil{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-left: 100px;
}
h4{
    opacity: 70%;
    letter-spacing: 1.5px;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
font-weight: 600;
}
h3{
    font-weight: 600;
    padding-top: 10px;
    letter-spacing: 1.0;
}
.icon a{
    color: white;
}
.img-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}
img{
    width: 300px;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}
img:hover{
    box-shadow: 
        -5px 5px 20px rgba(0, 255, 170, 0.15), 
        5px -5px 20px rgba(30, 80, 255, 0.15);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}