*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}
.nav-container{
    min-height: 70px;
    background-color: transparent;
}
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 50px;
}
ul{
    display: flex;
    list-style-type: none;
    padding-right: 40px;
    
}
.h2-nav{
    color: white;
    padding-left: 10px;
}
a{
    text-decoration: none;
    margin: 20px;
    color: white;
}
.content{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
}
.profile-img{
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.profile-img:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(255, 0, 0, 0.8);
}
.biodata{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    min-width: 300px;
    padding-left: 40px;
}
.biodata h1{
    color: white;
text-transform: uppercase;
text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
padding-left: 40px;
}
.p-biodata{
    border: 1px solid transparent;
    color: white;
    line-height: 1.8;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
}
.p-biodata:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(255, 0, 0, 0.3);
}
.movies-container{
    padding: 50px;
    width: 100%;
}
.movies-tittle{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
gap: 30px;
}
.card{
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.img-movie{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.card-content{
    padding: 20px;
}
.card-content h3{
    margin-bottom: 20px;
}
.card-content .year{
    color: black;
    font-size: 16px;
    margin-bottom: 8px;
}
.card-content .description{
    line-height: 1.6;
    background: none;
    border: transparent;
}
.card-content .description:hover {
    transform: none;
    box-shadow: none;
}